In [112]:
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")

In [160]:
#read csv file and save as 'raw'
a = 'C:/Users/tansiahong/Desktop/dm/WQD7005_Data_Mining-master/Milestone_One'
raw = pd.read_csv( a + '/Historical data for Bitcoin SV.csv')
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 8 columns):
Date          501 non-null object
Open*         501 non-null float64
High          501 non-null float64
Low           501 non-null float64
Close**       501 non-null float64
Volume        501 non-null int64
Market Cap    501 non-null int64
Unamed:0      0 non-null float64
dtypes: float64(5), int64(2), object(1)
memory usage: 31.4+ KB

In [161]:
#describe raw dataset sorted by date descendly
raw.sort_values(by='Date',ascending=False)

,Date,Open*,High,Low,Close**,Volume,Market Cap,Unamed:0
196,9/9/2019,135.53,138.18,128.11,131.42,358026181,2346482307,NaN
197,9/8/2019,134.79,137.90,133.80,135.53,307391476,2419929881,NaN
198,9/7/2019,131.43,136.04,130.56,134.61,322452434,2403488056,NaN
199,9/6/2019,130.53,137.33,129.62,131.24,322452434,2343235062,NaN
200,9/5/2019,131.94,133.84,129.25,130.53,298935720,2330600001,NaN
201,9/4/2019,135.24,135.46,131.59,131.85,288271329,2354259325,NaN
175,9/30/2019,82.72,88.54,81.01,87.42,257954647,1560900186,NaN
202,9/3/2019,133.78,137.30,133.69,135.17,355166862,2413379240,NaN
176,9/29/2019,84.63,84.89,81.36,82.71,197802787,1476698556,NaN
177,9/28/2019,85.04,85.35,83.51,84.49,214814898,1508566985,NaN
178,9/27/2019,83.77,85.91,80.91,84.99,306495767,1517496158,NaN
179,9/26/2019,86.84,86.84,79.89,83.91,317185904,1498239430,NaN
180,9/25/2019,83.58,89.93,82.65,86.83,426955957,1550409503,NaN
181,9/24/2019,113.91,114.63,70.98,83.80,423586533,1496185823,NaN
182,9/23/2019,119.87,120.16,113.90,113.94,212881041,2034335259,NaN
183,9/22/2019,122.47,122.52,117.60,119.95,242721087,2141659238,NaN
184,9/21/2019,122.97,123.86,121.87,122.47,251839198,2186671710,NaN
185,9/20/2019,122.86,126.76,122.22,122.93,281651168,2194844686,NaN
203,9/2/2019,130.02,135.25,128.70,133.65,327131780,2386234085,NaN
186,9/19/2019,125.75,126.34,119.36,122.86,309211017,2193717629,NaN
187,9/18/2019,125.48,130.03,122.23,125.80,392307803,2246226066,NaN
188,9/17/2019,122.68,126.92,120.67,125.33,261322488,2237774676,NaN
189,9/16/2019,119.75,124.21,119.69,122.76,290530221,2191807333,NaN
190,9/15/2019,119.61,124.80,118.23,119.80,288012019,2138947005,NaN
191,9/14/2019,117.78,121.30,117.05,119.61,206474305,2135634066,NaN
192,9/13/2019,120.08,120.39,116.93,118.12,259858641,2109074528,NaN
193,9/12/2019,120.12,120.59,117.15,120.08,223982727,2143987077,NaN
194,9/11/2019,126.49,127.34,113.06,120.12,352362965,2144703311,NaN
195,9/10/2019,131.34,132.00,125.14,126.35,329559950,2255943590,NaN
204,9/1/2019,129.39,129.86,127.28,129.65,280438624,2314946418,NaN
...,...,...,...,...,...,...,...,...
61,1/22/2020,314.79,322.19,299.27,308.91,2192284387,5629050033,NaN
426,1/22/2019,75.02,76.76,73.34,75.93,60200752,1334760515,NaN
62,1/21/2020,300.79,323.30,290.98,314.53,2836183879,5731505296,NaN
427,1/21/2019,75.44,76.99,74.44,75.01,54569897,1318537239,NaN
63,1/20/2020,278.06,320.64,264.69,301.70,3279329941,5497689339,NaN
428,1/20/2019,77.42,77.42,74.65,75.34,57177839,1324247115,NaN
81,1/2/2020,97.24,97.74,92.71,92.84,424249976,1677433934,NaN
446,1/2/2019,92.54,95.79,90.32,94.88,94042085,1664647783,NaN
64,1/19/2020,249.91,276.92,238.85,276.92,3190579995,5046171376,NaN
429,1/19/2019,76.13,77.87,75.78,77.53,57607818,1362577707,NaN
65,1/18/2020,286.51,297.54,245.18,249.19,3246126279,4540896971,NaN
430,1/18/2019,77.90,77.90,75.43,75.96,59556650,1334911206,NaN
66,1/17/2020,313.38,330.39,274.01,286.40,3565786206,5218978781,NaN
431,1/17/2019,78.12,78.29,76.50,78.05,62380870,1371508266,NaN
67,1/16/2020,312.06,333.87,282.23,312.88,3966458240,5701492409,NaN
432,1/16/2019,77.43,79.37,76.87,78.20,66358792,1373822193,NaN
68,1/15/2020,420.68,421.53,285.68,312.76,5432389775,5650999055,NaN
433,1/15/2019,80.44,81.62,76.72,77.44,61102447,1360428517,NaN
69,1/14/2020,173.81,441.20,173.58,422.74,7460265156,7638163819,NaN
434,1/14/2019,79.00,81.48,76.41,80.37,87682393,1411712392,NaN
70,1/13/2020,164.89,174.66,159.96,174.33,1227224459,3149819106,NaN
435,1/13/2019,82.81,87.89,75.21,77.44,134938585,1360198445,NaN
71,1/12/2020,151.33,168.81,148.58,165.01,1360791215,2981519770,NaN
436,1/12/2019,75.05,84.98,75.05,82.80,176584499,1454135673,NaN
72,1/11/2020,171.08,175.63,149.30,150.73,1779222123,2723486078,NaN
437,1/11/2019,75.60,76.03,73.43,75.03,73534881,1317511207,NaN
73,1/10/2020,117.66,172.76,116.67,171.16,1782635151,3092666424,NaN
438,1/10/2019,87.10,89.79,75.10,75.92,100285980,1333024139,NaN
82,1/1/2020,97.08,99.85,96.41,97.20,450643882,1756282440,NaN
447,1/1/2019,84.79,95.24,84.69,92.14,108083721,1616381095,NaN

In [162]:
#  Delete the unreadable rows
clean=raw.dropna(axis=0, inplace=False, thresh=7) #delete the row which containing occupied columns less than 7 columns 
clean.sort_values(by='Date',ascending=False) #describe dataset after deleting the unreadable rows

,Date,Open*,High,Low,Close**,Volume,Market Cap,Unamed:0
196,9/9/2019,135.53,138.18,128.11,131.42,358026181,2346482307,NaN
197,9/8/2019,134.79,137.90,133.80,135.53,307391476,2419929881,NaN
198,9/7/2019,131.43,136.04,130.56,134.61,322452434,2403488056,NaN
199,9/6/2019,130.53,137.33,129.62,131.24,322452434,2343235062,NaN
200,9/5/2019,131.94,133.84,129.25,130.53,298935720,2330600001,NaN
201,9/4/2019,135.24,135.46,131.59,131.85,288271329,2354259325,NaN
175,9/30/2019,82.72,88.54,81.01,87.42,257954647,1560900186,NaN
202,9/3/2019,133.78,137.30,133.69,135.17,355166862,2413379240,NaN
176,9/29/2019,84.63,84.89,81.36,82.71,197802787,1476698556,NaN
177,9/28/2019,85.04,85.35,83.51,84.49,214814898,1508566985,NaN
178,9/27/2019,83.77,85.91,80.91,84.99,306495767,1517496158,NaN
179,9/26/2019,86.84,86.84,79.89,83.91,317185904,1498239430,NaN
180,9/25/2019,83.58,89.93,82.65,86.83,426955957,1550409503,NaN
181,9/24/2019,113.91,114.63,70.98,83.80,423586533,1496185823,NaN
182,9/23/2019,119.87,120.16,113.90,113.94,212881041,2034335259,NaN
183,9/22/2019,122.47,122.52,117.60,119.95,242721087,2141659238,NaN
184,9/21/2019,122.97,123.86,121.87,122.47,251839198,2186671710,NaN
185,9/20/2019,122.86,126.76,122.22,122.93,281651168,2194844686,NaN
203,9/2/2019,130.02,135.25,128.70,133.65,327131780,2386234085,NaN
186,9/19/2019,125.75,126.34,119.36,122.86,309211017,2193717629,NaN
187,9/18/2019,125.48,130.03,122.23,125.80,392307803,2246226066,NaN
188,9/17/2019,122.68,126.92,120.67,125.33,261322488,2237774676,NaN
189,9/16/2019,119.75,124.21,119.69,122.76,290530221,2191807333,NaN
190,9/15/2019,119.61,124.80,118.23,119.80,288012019,2138947005,NaN
191,9/14/2019,117.78,121.30,117.05,119.61,206474305,2135634066,NaN
192,9/13/2019,120.08,120.39,116.93,118.12,259858641,2109074528,NaN
193,9/12/2019,120.12,120.59,117.15,120.08,223982727,2143987077,NaN
194,9/11/2019,126.49,127.34,113.06,120.12,352362965,2144703311,NaN
195,9/10/2019,131.34,132.00,125.14,126.35,329559950,2255943590,NaN
204,9/1/2019,129.39,129.86,127.28,129.65,280438624,2314946418,NaN
...,...,...,...,...,...,...,...,...
61,1/22/2020,314.79,322.19,299.27,308.91,2192284387,5629050033,NaN
426,1/22/2019,75.02,76.76,73.34,75.93,60200752,1334760515,NaN
62,1/21/2020,300.79,323.30,290.98,314.53,2836183879,5731505296,NaN
427,1/21/2019,75.44,76.99,74.44,75.01,54569897,1318537239,NaN
63,1/20/2020,278.06,320.64,264.69,301.70,3279329941,5497689339,NaN
428,1/20/2019,77.42,77.42,74.65,75.34,57177839,1324247115,NaN
81,1/2/2020,97.24,97.74,92.71,92.84,424249976,1677433934,NaN
446,1/2/2019,92.54,95.79,90.32,94.88,94042085,1664647783,NaN
64,1/19/2020,249.91,276.92,238.85,276.92,3190579995,5046171376,NaN
429,1/19/2019,76.13,77.87,75.78,77.53,57607818,1362577707,NaN
65,1/18/2020,286.51,297.54,245.18,249.19,3246126279,4540896971,NaN
430,1/18/2019,77.90,77.90,75.43,75.96,59556650,1334911206,NaN
66,1/17/2020,313.38,330.39,274.01,286.40,3565786206,5218978781,NaN
431,1/17/2019,78.12,78.29,76.50,78.05,62380870,1371508266,NaN
67,1/16/2020,312.06,333.87,282.23,312.88,3966458240,5701492409,NaN
432,1/16/2019,77.43,79.37,76.87,78.20,66358792,1373822193,NaN
68,1/15/2020,420.68,421.53,285.68,312.76,5432389775,5650999055,NaN
433,1/15/2019,80.44,81.62,76.72,77.44,61102447,1360428517,NaN
69,1/14/2020,173.81,441.20,173.58,422.74,7460265156,7638163819,NaN
434,1/14/2019,79.00,81.48,76.41,80.37,87682393,1411712392,NaN
70,1/13/2020,164.89,174.66,159.96,174.33,1227224459,3149819106,NaN
435,1/13/2019,82.81,87.89,75.21,77.44,134938585,1360198445,NaN
71,1/12/2020,151.33,168.81,148.58,165.01,1360791215,2981519770,NaN
436,1/12/2019,75.05,84.98,75.05,82.80,176584499,1454135673,NaN
72,1/11/2020,171.08,175.63,149.30,150.73,1779222123,2723486078,NaN
437,1/11/2019,75.60,76.03,73.43,75.03,73534881,1317511207,NaN
73,1/10/2020,117.66,172.76,116.67,171.16,1782635151,3092666424,NaN
438,1/10/2019,87.10,89.79,75.10,75.92,100285980,1333024139,NaN
82,1/1/2020,97.08,99.85,96.41,97.20,450643882,1756282440,NaN
447,1/1/2019,84.79,95.24,84.69,92.14,108083721,1616381095,NaN

In [164]:
#Delete the row which Market Cap = '-'
clean= clean[clean['Market Cap']!='-']

In [165]:
clean=clean.drop(['Unamed:0'], axis=1, inplace=False)
#show the first row of clean2 dataframe
clean.head(1)

        Date   Open*    High     Low  Close**      Volume  Market Cap
0  3/23/2020  157.78  169.43  155.62   168.51  3149579336  3091166642

In [166]:
#list of new columns' order
cols= ['Date','Open*','Close**','High','Low','Volume','Market Cap']
#rearrange order
clean = clean[cols]
#show the first row of dataset after reordering columns
clean.head(1)

        Date   Open*  Close**    High     Low      Volume  Market Cap
0  3/23/2020  157.78   168.51  169.43  155.62  3149579336  3091166642

In [167]:
#list object columns
obj = clean.select_dtypes(include = object).columns.tolist()
#exclude coin and date columns from the list
obj.remove('Date')
#Convert object columns to numeric columns
clean[obj] = clean[obj].convert_objects(convert_numeric = True)

In [168]:
clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501 entries, 0 to 500
Data columns (total 7 columns):
Date          501 non-null object
Open*         501 non-null float64
Close**       501 non-null float64
High          501 non-null float64
Low           501 non-null float64
Volume        501 non-null int64
Market Cap    501 non-null int64
dtypes: float64(4), int64(2), object(1)
memory usage: 31.3+ KB

In [169]:
clean['Market Cap']=clean['Market Cap'].astype(float)
clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501 entries, 0 to 500
Data columns (total 7 columns):
Date          501 non-null object
Open*         501 non-null float64
Close**       501 non-null float64
High          501 non-null float64
Low           501 non-null float64
Volume        501 non-null int64
Market Cap    501 non-null float64
dtypes: float64(5), int64(1), object(1)
memory usage: 31.3+ KB