In [1]:
import pandas as pd
import pyodbc

### Connect through ODBC driver

In [2]:
conn = pyodbc.connect(DSN = "hive_connection", autocommit = True, ansi = True)

In [3]:
print(conn)

<pyodbc.Connection object at 0x000002519332F780>

Connection is success.

In [4]:
pd.read_sql("show databases;", conn)

        database_name
0             default
1            foodmart
2  information_schema
3                 sys

In [6]:
bitcoin_df = pd.read_sql("SELECT * FROM bitcoin LIMIT 10", conn)

In [7]:
bitcoin_df

,bitcoin.marketdate,bitcoin.open,bitcoin.high,bitcoin.low,bitcoin.close,bitcoin.volume,bitcoin.marketcapacity
0,2020-05-25,8786.11,8951.01,8719.67,8906.93,3.128816e+10,1.637605e+11
1,2020-05-24,9212.28,9288.40,8787.25,8790.37,3.251880e+10,1.616104e+11
2,2020-05-23,9185.06,9302.50,9118.11,9209.29,2.772787e+10,1.693055e+11
3,2020-05-22,9080.33,9232.94,9008.64,9182.58,2.981077e+10,1.688076e+11
4,2020-05-21,9522.74,9555.24,8869.93,9081.76,3.932616e+10,1.669480e+11
5,2020-05-20,9725.33,9804.79,9447.20,9522.98,3.654624e+10,1.750510e+11
6,2020-05-19,9727.06,9836.05,9539.62,9729.04,3.925429e+10,1.788316e+11
7,2020-05-18,9675.69,9906.03,9570.36,9726.57,4.182714e+10,1.787795e+11
8,2020-05-17,9374.93,9823.00,9349.55,9670.74,4.008425e+10,1.777454e+11
9,2020-05-16,9333.24,9564.20,9260.69,9377.01,3.616477e+10,1.723410e+11